onnx>=1.9.0
tensorflow>=2.7
pyparsing
psutil
tqdm
onnxruntime>=1.11
scipy
matplotlib
torch>=1.11
networkx
pytest
pyvis
gitpython
loguru
pillow
numpy==1.24.3
configargparse
foolbox~=3.3.3
onnx2torch~=1.4.1
protobuf==3.20.*
cvxpy[CLARABEL]>=1.2.0
cvxpy[CBC]>=1.2.0
onnxsim
